* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'roboto', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: #F2F2F2;
}

:root {
    --maincolor: black;
    --seccolor: rgb(93, 105, 231);
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: var(--seccolor);
    color: white;
}

.box h1 {
    padding: 10px;
}

.box {
    display: flex;
    align-items: center;
}

.nav-btns {
    display: flex;
    padding: 26px;
}

footer {
    height: 70px;
    background-color: var(--seccolor);
    display: flex;
    justify-content: center;
    color: white;
    align-items: center;
    margin-top: 48px;
}

.lafz {
    padding: 0px 1rem;
    cursor: pointer;
}

.contents h1 {
    text-align: center;
    padding: 16px;
    font-size: 300%;
}

.contents {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contents img {
    width: 120px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    border: 4px solid var(--seccolor);
    margin-top: 14px;
}

.contents-2 {
    display: grid;
    grid-template-columns: auto auto auto;
    align-items: center;
    justify-content: center;
    padding: 18px;
}

.btns {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    background-color: var(--seccolor);
    margin-top: 16px;
}

.contents-2 h1 {
    margin-left: 16px;
    margin-right: 16px;
}
.lafz a{
    text-decoration: none;
    color: white;
}